body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #efe;
  color: #333;
}
.app {
  background-color: #efe;
  color: #333;
  transition: all 0.5s ease-in-out;
}
.navlink {
  font-weight: bold;
  color: #333;
}
.navlink.router-link-exact-active {
  color: #595;
}
.about {
  color: #333;
  background-color: #efe;
}
